body {
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.pixabay.com/photo/2020/03/07/17/16/flower-4910377_1280.png');
    background-color: black;
    background-size: cover;
}
.container {
    max-width: 400px;
    margin: 20% auto;
    padding: 20px;
    background-color: #e4d9d9;
    border-radius: 5px;
}
label{
    margin:20px;
}
input {
    width: 80%;
    padding: 10px;
    margin:20px;
    border: 1px solid #e2dddd;
    border-radius: 3px;
}
button{
    margin:10px;
    width:100px;
    height:40px;
}
.error {
    color: red;
}

.success {
    color: green;
}